###Data Scinence Tools and Ecosystem

in this noteebook, data science tools and ecosystem are summarized

some of the popular languages that data scientists use are:
1. Python
2. R
3. SQL
4. C++
5. Java etc..;

some of the commonly used libraries used by data scientists incloud:
1. TensorFlow.
2. Numpy
3. Scipy
4. pandas
5. Matplotlib
6. Keras
7. Scikit-Learn
8.PyTorch etc

| Data Science Tools|
|----|
|SAS|
|Apache Hadoop|
|TensorFlow|

### Below are a few example of evaluating arithmetic expressions in Python.

In [4]:
#this is arithmetic example and then add integers
(3*4)+5

17

In [5]:
#this will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__objective__
* List popular languages for data science
* List popular libaries for data scince 
* List of well known data science tools
* How to provide comments in the cell

##Author 
Ali